{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["> 1%", "last 2 versions", "not dead", "ie 11"],
          "esmodules": true
        },
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
  ]
}